@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-light: 0 0% 97%;
  --bg-dark: 0 0% 0%;

  --main-clr: 85 38% 53%;

  --text-dark: 0 0% 0%;
  --text-light: 0 0% 100%;

  --shadow-clr: 0 0% 0% / 0.3;

  --step--1: clamp(0.8125rem, 0.78rem + 0.2vw, 0.9rem);
  --step-0: clamp(0.9375rem, 0.9rem + 0.3vw, 1.05rem);
  --step-1: clamp(1.0625rem, 1rem + 0.4vw, 1.25rem);
  --step-2: clamp(1.25rem, 1.15rem + 0.6vw, 1.5rem);
  --step-3: clamp(1.5rem, 1.35rem + 0.9vw, 1.9rem);
  --step-4: clamp(1.875rem, 1.6rem + 1.2vw, 2.4rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

h1 {
  font-weight: 500;
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h2,
h1 {
  line-height: 1.1;
  margin-bottom: 0.5em;
  letter-spacing: -0.01em;
}

p {
  max-width: 70ch;
  font-size: var(--step--1);
  margin-bottom: 1em;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

body {
  background-color: hsl(var(--bg-light));
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  font: inherit;
  border: none;
  background: none;
}

.container {
  width: 80%;
  max-width: 80rem;
  margin-inline: auto;
  padding-top: 2rem;
}

.section-margin {
  margin-bottom: clamp(4rem, 8vw, 6rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
