@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

h1 {
  font-weight: 500;
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h2,
h1 {
  line-height: 1.1;
  margin-bottom: 0.5em;
  letter-spacing: -0.01em;
}

p {
  max-width: 70ch;
  font-size: var(--step--1);
  margin-bottom: 1em;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

body {
  background-color: hsl(var(--bg-light));
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

:root {
  --bg-light: 132 100% 99%;

  --main-clr: 85 38% 53%;

  --text-dark: 0 0% 0%;
  --text-light: 0 0% 100%;

  --shadow-clr: 0 0% 78%;

  --step--1: clamp(0.8333rem, 0.7058rem + 0.6377vi, 1.2rem);
  --step-0: clamp(1rem, 0.8261rem + 0.8696vi, 1.5rem);
  --step-1: clamp(1.2rem, 0.9652rem + 1.1739vi, 1.875rem);
  --step-2: clamp(1.44rem, 1.1257rem + 1.5717vi, 2.3438rem);
  --step-3: clamp(1.728rem, 1.31rem + 2.0899vi, 2.9297rem);
  --step-4: clamp(2.0736rem, 1.5211rem + 2.7626vi, 3.6621rem);
}

.container {
  width: 80%;
  max-width: 80rem;
  margin-inline: auto;
  padding-block: 2rem;
}
